################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/WAGym.AccessControl/obj/Debug/net7.0/WAGym.AccessControl.AssemblyInfoInputs.cache
/src/WAGym.AccessControl/obj/Debug/net7.0
/src/WAGym.AccessControl/obj/project.assets.json
/src/WAGym.AccessControl/obj/project.nuget.cache
/src/WAGym.AccessControl/obj/WAGym.AccessControl.csproj.nuget.dgspec.json
/.vs/WAGym.AccessControl/FileContentIndex/6eb6896f-88cc-405b-86d9-39d60bfe35ab.vsidx
/src/WAGym.Common/obj/Debug/net7.0/WAGym.Common.AssemblyInfo.cs
/src/WAGym.Common/obj/Debug/net7.0/WAGym.Common.AssemblyInfoInputs.cache
/src/WAGym.Common/obj/Debug/net7.0/WAGym.Common.assets.cache
/src/WAGym.Common/obj/Debug/net7.0/WAGym.Common.GeneratedMSBuildEditorConfig.editorconfig
/.vs/WAGym.AccessControl/v17/.suo
/src/WAGym.Common/obj/project.assets.json
/src/WAGym.Common/obj/project.nuget.cache
/src/WAGym.Common/obj/WAGym.Common.csproj.nuget.dgspec.json
/src/WAGym.Data/obj/project.assets.json
/src/WAGym.Data/obj/project.nuget.cache
/src/WAGym.Data/obj/WAGym.Data.csproj.nuget.dgspec.json
/src/WAGym.Data/obj/Debug/net7.0/WAGym.Data.AssemblyInfo.cs
/src/WAGym.Data/obj/Debug/net7.0/WAGym.Data.AssemblyInfoInputs.cache
/src/WAGym.Data/obj/Debug/net7.0/WAGym.Data.assets.cache
/src/WAGym.Data/obj/Debug/net7.0/WAGym.Data.csproj.AssemblyReference.cache
/src/WAGym.Data/obj/Debug/net7.0/WAGym.Data.GeneratedMSBuildEditorConfig.editorconfig
/tests/WAGym.AccessControl.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/tests/WAGym.AccessControl.Tests/obj/Debug/net7.0/WAGym.AccessControl.Tests.AssemblyInfo.cs
/tests/WAGym.AccessControl.Tests/obj/Debug/net7.0/WAGym.AccessControl.Tests.AssemblyInfoInputs.cache
/tests/WAGym.AccessControl.Tests/obj/Debug/net7.0/WAGym.AccessControl.Tests.assets.cache
/tests/WAGym.AccessControl.Tests/obj/Debug/net7.0/WAGym.AccessControl.Tests.csproj.AssemblyReference.cache
/tests/WAGym.AccessControl.Tests/obj/Debug/net7.0/WAGym.AccessControl.Tests.GeneratedMSBuildEditorConfig.editorconfig
/tests/WAGym.AccessControl.Tests/obj/project.assets.json
/tests/WAGym.AccessControl.Tests/obj/project.nuget.cache
/tests/WAGym.AccessControl.Tests/obj/WAGym.AccessControl.Tests.csproj.nuget.dgspec.json
/tests/WAGym.Common.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/tests/WAGym.Common.Tests/obj/Debug/net7.0/WAGym.Common.Tests.AssemblyInfo.cs
/tests/WAGym.Common.Tests/obj/Debug/net7.0/WAGym.Common.Tests.AssemblyInfoInputs.cache
/tests/WAGym.Common.Tests/obj/Debug/net7.0/WAGym.Common.Tests.assets.cache
/tests/WAGym.Common.Tests/obj/Debug/net7.0/WAGym.Common.Tests.csproj.AssemblyReference.cache
/tests/WAGym.Common.Tests/obj/Debug/net7.0/WAGym.Common.Tests.GeneratedMSBuildEditorConfig.editorconfig
/tests/WAGym.Common.Tests/obj/project.assets.json
/tests/WAGym.Common.Tests/obj/project.nuget.cache
/tests/WAGym.Common.Tests/obj/WAGym.Common.Tests.csproj.nuget.dgspec.json
/tests/WAGym.Data.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/tests/WAGym.Data.Tests/obj/Debug/net7.0/WAGym.Data.Tests.AssemblyInfo.cs
/tests/WAGym.Data.Tests/obj/Debug/net7.0/WAGym.Data.Tests.AssemblyInfoInputs.cache
/tests/WAGym.Data.Tests/obj/Debug/net7.0/WAGym.Data.Tests.assets.cache
/tests/WAGym.Data.Tests/obj/Debug/net7.0/WAGym.Data.Tests.csproj.AssemblyReference.cache
/tests/WAGym.Data.Tests/obj/Debug/net7.0/WAGym.Data.Tests.GeneratedMSBuildEditorConfig.editorconfig
/tests/WAGym.Data.Tests/obj/project.assets.json
/tests/WAGym.Data.Tests/obj/project.nuget.cache
/tests/WAGym.Data.Tests/obj/WAGym.Data.Tests.csproj.nuget.dgspec.json
/tests/WAGym.Domain.Tests/bin/Debug/net7.0/CoverletSourceRootsMapping
/tests/WAGym.Domain.Tests/obj/Debug/net7.0/WAGym.Domain.Tests.AssemblyInfo.cs
/tests/WAGym.Domain.Tests/obj/Debug/net7.0/WAGym.Domain.Tests.AssemblyInfoInputs.cache
/tests/WAGym.Domain.Tests/obj/Debug/net7.0/WAGym.Domain.Tests.assets.cache
/tests/WAGym.Domain.Tests/obj/Debug/net7.0/WAGym.Domain.Tests.csproj.AssemblyReference.cache
/tests/WAGym.Domain.Tests/obj/Debug/net7.0/WAGym.Domain.Tests.GeneratedMSBuildEditorConfig.editorconfig
/tests/WAGym.Domain.Tests/obj/project.assets.json
/tests/WAGym.Domain.Tests/obj/project.nuget.cache
/tests/WAGym.Domain.Tests/obj/WAGym.Domain.Tests.csproj.nuget.dgspec.json
/src/WAGym.Domain/obj/project.assets.json
/src/WAGym.Domain/obj/project.nuget.cache
/src/WAGym.Domain/obj/WAGym.Domain.csproj.nuget.dgspec.json
/src/WAGym.Domain/obj/Debug/net7.0/WAGym.Domain.AssemblyInfo.cs
/src/WAGym.Domain/obj/Debug/net7.0/WAGym.Domain.AssemblyInfoInputs.cache
/src/WAGym.Domain/obj/Debug/net7.0/WAGym.Domain.assets.cache
/src/WAGym.Domain/obj/Debug/net7.0/WAGym.Domain.csproj.AssemblyReference.cache
/src/WAGym.Domain/obj/Debug/net7.0/WAGym.Domain.GeneratedMSBuildEditorConfig.editorconfig
